<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <!-- Bootstrap -->
    <link href="/Assets/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Common Kendo UI CSS for web widgets and widgets for data visualization. -->
    <link href="/Assets/css/kendo.common.min.css" rel="stylesheet" />

    <!-- (Optional) RTL CSS for Kendo UI widgets for the web. Include only in right-to-left applications. -->
    <link href="/Assets/css/kendo.rtl.min.css" rel="stylesheet" type="text/css" />

    <!-- Default Kendo UI theme CSS for web widgets and widgets for data visualization. -->
    <link href="/Assets/css/kendo.default.min.css" rel="stylesheet" />

    <!-- (Optional) Kendo UI Hybrid CSS. Include only if you will use the mobile devices features. -->
    <link href="/Assets/css/kendo.default.mobile.min.css" rel="stylesheet" type="text/css" />


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/Assets/js/bootstrap.min.js"></script>

    <!-- jQuery JavaScript -->
    <script src="/Assets/js/jquery.min.js"></script>

    <!-- Kendo UI combined JavaScript -->
    <script src="/Assets/js/kendo.all.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <nav class="navbar navbar-default navbar-fixed-top">
                    <div class="container">
                        <div class="navbar-header">
                            <img src="/Assets/img/logo.png" />
                        </div>
                        <div class="navbar-collapse collapse pull-right">
                            <ul class="nav navbar-nav">
                                @{
                                    if (Session["LoggedCustomerFullName"] != null)
                                    {
                                        <p>@Session["LoggedCustomerFullName"]</p>
                                    }
                                    else if (Session["LoggedUserFullName"] != null)
                                    {
                                        <p>@Session["LoggedUserFullName"]</p>
                                    }
                                }
                            </ul>
                            <ul class="nav navbar-nav">
                                @{
                                    if (Session["LoggedCustomerFullName"] != null)
                                    {
                                        <a href="/Account/Logout">Çıkış</a>
                                    }
                                    else if (Session["LoggedUserFullName"] != null)
                                    {
                                        <a href="/Account/Logout">Çıkış</a>
                                    }
                                }
                            </ul>
                            <ul class="nav navbar-nav">
                                @{
                                    if (Session["LoggedCustomerFullName"] == null && Session["LoggedUserFullName"] == null)
                                    {
                                        <a href="/Account/Login">Giriş</a>
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <div class="row" style="margin-top: 6%;">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="container">
                    @RenderBody()
                    <hr />
                    <footer>
                        <p class="text-center">&copy; @DateTime.Now.Year - Computer Service CRM Application</p>
                    </footer>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
